# today agenda
# userdefined
# string
# list
# tuple
# dictinory
# sets

In [ ]:
# user defined function
# callinf function
# block of statements to perform particular task
# code reusability
# time will save
# syntax: def functionname(arguments/parameters):
          # statements
# calling function
# function name(arguments/parameters)

In [ ]:
# calling function
# with arguments with returntype
# with arguments without returntpe
# without arguments without returntype
# without arguments with returntype

# required argument/positional argument
# keyword argument
# default argument
# variablelength argument

In [1]:
def sample():
     print('welcome')
print('python workshop')
sample()

python workshop
welcome

In [3]:
def sample():
    pass
print('python workshop')
sample()

python workshop

In [12]:
# with arguments with returntype
def add(a,b):
    c=a+b
    return('add of two num is',c)
add(10,20)

('add of two num is', 30)

In [13]:
# without arguments with returntype
def sub():
    a=20
    b=30
    return a-b
sub()

-10

In [14]:
# without arguments without returntype
def mul():
    n=10
    m=20
    print('multiplication of %d * %d=%d'%(n,m,n*m))
mul()

multiplication of 10 * 20=200

In [15]:
# with arguments without returntpe
def div(p,q):
    print(p/q)
div(10,20)

0.5

In [24]:
def sum1(a,b):
    return'sum of %d +%d =%d'%(a,b,a+b)
a=int(input('enter value'))
b=int(input('enter value'))
sum1(a,b)

enter value2
enter value4

'sum of 2 +4 =6'

In [6]:
# required argument/positional argument
def interest(p,t,r):
         total=p*t*r/100
         return total
p=int(input('enter principal amt:-'))
t=float(input('enter time:-'))
r=float(input('enter rate:-'))
interest(p,t,r)

enter principal amt:-10
enter time:-3
enter rate:-6

1.8

In [7]:
# keyword argument
def simple(p,t,r):
    total=p*t*r/100
    return total
simple(t=2.0,r=1.50,p=10000)

300.0

In [8]:
# keyword argument
def simple(p,t,r):
    total=p*t*r/100
    return total
p=int(input('enter principal amt:-'))
t=float(input('enter time:-'))
r=float(input('enter rate:-'))
simple(t=2.0,r=1.50,p=10000)# static
simple(t=t,r=r,p=p)# dynamic

enter principal amt:-10
enter time:-4
enter rate:-6

2.4

In [11]:
# default argument
def simple1(p=1000,t=2.0,r=3.0):
    print(p*t*r/100)
# simple1()
simple1()

60.0

In [31]:
# variable length argument
def var_sum(*a):
    s=0
    for i in a:
        s+=i
    #print(s+=1)
    print(s)
var_sum(1,2,3,4,5,6)

21

In [34]:
# variable length argument
def var_sum(*a):
    s=0
    for i in a:
        s+=1
    print(a)
var_sum(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [10]:
print('choose operation')
print('1.add')
print('2.sub')
print('3.mul')
print('4.div')
print('5.mod')
print('6.power')
print('7.floor div')
num1=int(input('enter first number:'))
num2=int(input('enter second number:'))
choice=int(input("enter your choice 1/2/3/4/5/6/7:-"))    
def add(num1,num2):
    print('addition of %d + %d=%d',(num1,num2,num1+num2))
def sub(num1,num2):
    print('subtraction of %d - %d=%d',(num1,num2,num1-num2))
def mul(num1,num2):
    print('multiplication of %d * %d=%d',(num1,num2,num1*num2))
def div(num1,num2):
    print('division of %d / %d=%d',(num1,num2,num1/num2))
def mod(num1,num2):
    print('mod of %d % %d=%d',(num1,num2,num1%num2))
def power(num1,num2):
    print('power of %d ** %d=%d'(num1,num2,num1**num2))
def floordivision(num1,num2):
    print('floordivision of %d // %d=%d',(num1,num2,num1//num2))                                    
if choice==1:
    add(num1,num2) 
elif choice==2:                                        
    sub(num1,num2)
elif choice==3:
    mul(num1,num2)       
elif choice==4:
    div(num1,num2)
elif choice==5:
    mod(num1,num2)
elif choice==6:
    power(num1,num2) 
elif choice==7:
    floordivision(num1,num2)
else:
    print('invalid choice')

choose operation
1.add
2.sub
3.mul
4.div
5.mod
6.power
7.floor div
enter first number:1
enter second number:2
enter your choice 1/2/3/4/5/6/7:-1
addition of %d + %d=%d (1, 2, 3)

In [ ]:
# list

In [11]:
l1=[1,2,3,'hi','hello',10,25]
l1

[1, 2, 3, 'hi', 'hello', 10, 25]

In [13]:
l2=[4,5,6,'hru']
l1+l2

[1, 2, 3, 'hi', 'hello', 10, 25, 4, 5, 6, 'hru']

In [14]:
l2=[4,5,6,'hru']
l3=l1+l2
l3

[1, 2, 3, 'hi', 'hello', 10, 25, 4, 5, 6, 'hru']

In [26]:
# forward index
l3[3]
l3[6]
# backward index
l3[-1]
l3[-4]
# list slicing
l3[3:5]

['hi', 'hello']

In [27]:
l3[::-1]

['hru', 6, 5, 4, 25, 10, 'hello', 'hi', 3, 2, 1]

In [28]:
l3[0:11:2]

[1, 3, 'hello', 25, 5, 'hru']

In [30]:
# list methods
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [31]:
# append
l3.append(10)
l3

[1, 2, 3, 'hi', 'hello', 10, 25, 4, 5, 6, 'hru', 10]

In [34]:
l3.append([11,12])
l3

[1, 2, 3, 'hi', 'hello', 10, 25, 4, 5, 6, 'hru', 10, [11, 12]]

In [35]:
# extend
l3.extend([13,14,15])
l3

[1, 2, 3, 'hi', 'hello', 10, 25, 4, 5, 6, 'hru', 10, [11, 12], 13, 14, 15]

In [36]:
l3

[1, 2, 3, 'hi', 'hello', 10, 25, 4, 5, 6, 'hru', 10, [11, 12], 13, 14, 15]

In [39]:
l3[12][0]

11

In [40]:
l3.count(1)

1

In [42]:
l3.count(2)

1

In [43]:
l3.index(5)

8

In [49]:
# insert
s=['a','o']
s

['a', 'o']

In [45]:
s.insert(1,'e')
s

['a', 'e', 'o']

In [46]:
s.insert(2,'i')
s

['a', 'e', 'i', 'o']

In [47]:
s.insert(4,'u')
s

['a', 'e', 'i', 'o', 'u']

In [ ]:
# difference b/w pop,remove,del
# pop()------>last in firat out
# remove()---->value based
# del()----->index value based

In [52]:
l3.pop()

15

In [60]:
l3.remove('hi')
l3

ValueError: list.remove(x): x not in list

In [51]:
l3

[1, 2, 3, 'hello', 10, 25, 4, 5, 6, 'hru', 10, [11, 12], 13, 14, 15]

In [54]:
del l3[11]
l3

[1, 2, 3, 'hello', 10, 25, 4, 5, 6, 'hru', 10, 14]

In [61]:
# sort 
l4=[4,6,7,8,9]
l4.sort()
l4

[4, 6, 7, 8, 9]

In [63]:
# reverse 
l4.sort(reverse=False)
l4.sort(reverse=True)
l4

[9, 8, 7, 6, 4]

In [64]:
l4.sort(reverse=False)
l4.sort(reverse=False)
l4

[4, 6, 7, 8, 9]

In [68]:
# copy 1.assignment operator ,2.copy method
l5=l3
l5

[1, 2, 3, 'hello', 10, 25, 4, 5, 6, 'hru', 10, 14]

In [67]:
l6=l3.copy()
l6

[1, 2, 3, 'hello', 10, 25, 4, 5, 6, 'hru', 10, 14]

In [69]:
l3.append(15)
l5

[1, 2, 3, 'hello', 10, 25, 4, 5, 6, 'hru', 10, 14, 15]

In [70]:
l6=l3
l6

[1, 2, 3, 'hello', 10, 25, 4, 5, 6, 'hru', 10, 14, 15]

In [71]:
l3.clear()
l3

[]

In [72]:
l4

[4, 6, 7, 8, 9]

In [73]:
l4[1]=8
l4

[4, 8, 7, 8, 9]

In [75]:
# tuples 
tup=(1,2,'welcome','workshop',15.25,4,6)
# type(tup)
tup

(1, 2, 'welcome', 'workshop', 15.25, 4, 6)

In [76]:
tup[2]
tup[5]

4

In [77]:
tup[-2]

4

In [78]:
tup[-5]

'welcome'

In [79]:
tup[0:]

(1, 2, 'welcome', 'workshop', 15.25, 4, 6)

In [80]:
tup[:]

(1, 2, 'welcome', 'workshop', 15.25, 4, 6)

In [82]:
tup[::-1]

(6, 4, 15.25, 'workshop', 'welcome', 2, 1)

In [84]:
# tuple methods
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [87]:
# packing & unpacking
emp=('Ao0645','abc','developer','Apssdc','akp')
(eid,name,disg,comp,place)=emp
print(eid)
print(comp)

Ao0645
Apssdc

In [88]:
tup

(1, 2, 'welcome', 'workshop', 15.25, 4, 6)

In [89]:
tup[2]=3

TypeError: 'tuple' object does not support item assignment

In [ ]:
# dictinory
# dictinory is a unordered collection of different data items
# in dictinory we have 2 pairs those are key & value
# key is fixed
# value be change
# dictinory representation---->{}
# syntax:
# varname={key:value}

In [ ]:
name=abc
den=f
dob=04/06/2002

In [90]:
address={}
type(address)

dict

In [91]:
address={1,2,3}
type(address)

set

In [97]:
address={'name':'sai','place':'ongole'}
address

{'name': 'sai', 'place': 'ongole'}

In [98]:
address['pincode']=51567
address

{'name': 'sai', 'place': 'ongole', 'pincode': 51567}

In [99]:
address={'name':'sai'}
address

{'name': 'sai'}

In [109]:
address['pincode']=51567
address

{'name': 'sai', 'pincode': 51567}

In [100]:
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [110]:
address.keys()

dict_keys(['name', 'pincode'])

In [111]:
address.items()

dict_items([('name', 'sai'), ('pincode', 51567)])

In [112]:
address.values()

dict_values(['sai', 51567])

In [118]:
address.get('name')

'sai'

In [115]:
address.popitem()

('pincode', 51567)

In [124]:
address.pop('name')
address

{}

In [128]:
address2={'name':'hii','place':'akp','pincode':'523274'}
address2

{'name': 'hii', 'place': 'akp', 'pincode': '523274'}

In [129]:
address2

{'name': 'hii', 'place': 'akp', 'pincode': '523274'}

In [132]:
address.update(address2)
address

{'name': 'hii', 'place': 'akp', 'pincode': '523274'}

In [130]:
address3=dict.fromkeys(address,'fields')
address3

{'name': 'fields', 'place': 'fields', 'pincode': 'fields'}

In [ ]:
# set
# var={1,2,3,4}

In [140]:
a={1,2,3,13,1,8,9,5,4,3,10}
a

{1, 2, 3, 4, 5, 8, 9, 10, 13}

In [141]:
b={10,11,12,14,6}
b

{6, 10, 11, 12, 14}

In [137]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [138]:
a.union(b)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14}

In [142]:
a.intersection(b)

{10}

In [146]:
a.difference(b)
b.difference(a)

{6, 11, 12, 14}

In [149]:
a.add(13)
a

{2, 3, 4, 5, 8, 9, 10, 13}

In [152]:
a.discard(50)
a

{2, 3, 4, 8, 9, 10, 13}

In [147]:
a.pop()

1

In [165]:
# list comprehensions
# written single of code
for temp in range(0,10):
    print(temp)
d=[i for i in range(0,10)]
d
list(i for i in range(0,10))
list(i for i in range(0,50+1)if i%2==0)
list(i for i in range(0,50+1) if i%2==1)

0
1
2
3
4
5
6
7
8
9

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [ ]:
# regular expressions
# packsges & modules

In [ ]:
# regular expressions 
# regular expression is nothing patterns
# in regular expressions we can implemnet password,email,phone number validations

In [ ]:
# modules and packages:
# one file python contains no.of functions
# no.of python files in one order
# if want to use modules 
# \d--->matches digits
# \D--->except digits
# \w--->except special symbols
# \W--->special symbol
# we will use regular expressions we can import re  module
# methods are serach,findall,match 
# syntax regular expression
# module name.method name(pattern,value or variablename)

In [167]:
import re
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [170]:
import re
re.search('^kn','knowldenonviolance')

In [171]:
import re
re.search('e$','knowldenonviolance')

In [173]:
import re
re.search('............','knowldenonviolance')

In [175]:
import re
re.search('\s','knowlde & nonviolance')

In [177]:
import re
re.findall('\s','knowlde & nonviolance')

[' ', ' ']

In [178]:
import re
re.findall('\S','knowlde & nonviolance')

['k',
 'n',
 'o',
 'w',
 'l',
 'd',
 'e',
 '&',
 'n',
 'o',
 'n',
 'v',
 'i',
 'o',
 'l',
 'a',
 'n',
 'c',
 'e']

In [180]:
import re
re.findall('\d','12ma1a0558')

['1', '2', '1', '0', '5', '5', '8']

In [181]:
import re
re.findall('\D','12ma1a0558')

['m', 'a', 'a']

In [184]:
import re
re.findall('\W','ani.lingathoti@gmail.com')

['.', '@', '.']

In [186]:
import re
re.findall('\w','ani.lingathoti12@gmail.com')

['a',
 'n',
 'i',
 'l',
 'i',
 'n',
 'g',
 'a',
 't',
 'h',
 'o',
 't',
 'i',
 '1',
 '2',
 'g',
 'm',
 'a',
 'i',
 'l',
 'c',
 'o',
 'm']

In [193]:
import re
re.search('^[6-9][0-9]{9}$| ^[0][6-9][0-9]{9}$ | [+][9][1][6-9][0-9]{9}$','6784959697')

In [ ]:
import re
re.search